In [2]:
#find interactors
import pandas as pd
import numpy as np
import os
import csv
import json

In [13]:
yeastinhuman=pd.read_csv('yeastinhuman.csv')
humaninyeast=pd.read_csv('humaninyeast.csv')
interactome = pd.read_csv('interactome_bi.csv')
humaninyeast.head()

,Input Order,Search Term,Human GeneID,HGNCID,Human Symbol,Species 2,Yeast GeneID,Yeast Species Gene ID,Yeast Symbol,Ensmbl ID (link HPA),DIOPT Score,Weighted Score,Rank,Best Score,Best Score Reverse,Prediction Derived From,Alignment & Scores,Feedback,Gene Details
0,1,PPP1CC,5501,9283,PPP1CC,Yeast,856870,S000000935,GLC7,NaN,10,9.90,moderate,Yes,No,"eggNOG, Hieranoid, Inparanoid, OMA, OrthoFinde...",NaN,Add,G2F details (GLC7)
1,2,PHLPP1,23239,20610,PHLPP1,Yeast,853452,S000003542,CYR1,NaN,6,5.74,high,Yes,Yes,"eggNOG, OrthoFinder, OrthoInspector, orthoMCL,...",NaN,Add,G2F details (CYR1)
2,4,GNB2,2783,4398,GNB2,Yeast,854387,S000005738,STE4,NaN,10,9.92,moderate,Yes,No,"Compara, eggNOG, Hieranoid, Inparanoid, OMA, O...",NaN,Add,G2F details (STE4)
3,5,HNRNPC,3183,5035,HNRNPC,Yeast,855911,S000006111,NAB3,NaN,7,6.94,high,Yes,Yes,"eggNOG, Isobase, OrthoFinder, OrthoInspector, ...",NaN,Add,G2F details (NAB3)
4,6,HSPA4,3308,5237,HSPA4,Yeast,855998,S000006027,SSE1,NaN,14,13.74,high,Yes,Yes,"Compara, eggNOG, Hieranoid, Homologene, Inpara...",NaN,Add,G2F details (SSE1)

In [68]:
#how to do this????

interactome.head()
database = {}
for column in interactome.columns:
    if column != 'Interactors' and column != 'HRR25':
        database[column] = {}
        for interactor in range(len(interactome[column])):
            if interactome[column][interactor] == 1.0:
                database[column][interactome['Interactors'][interactor]] = (list(humaninyeast[humaninyeast['Human GeneID'] == int(interactome['Interactors'][interactor])]['Yeast Symbol'].values))
    elif column == 'HRR25':
        database[column] = {}
        for interactor in range(len(interactome[column])):
            if interactome[column][interactor] == 1.0:
                database[column][interactome['Interactors'][interactor]] = (list(yeastinhuman[yeastinhuman['Yeast Symbol'] == interactome['Interactors'][interactor]]['Human Symbol'].values))
                
df1 = pd.DataFrame.from_dict(database)
df1.to_csv('orthologues.csv')
df1

          CSNK1A1 CSNK1E CSNK1D                   HRR25             CSNK1A1L
100506658      []     []    NaN                     NaN                  NaN
1131           []    NaN    NaN                     NaN                  NaN
114548         []    NaN    NaN                     NaN                  NaN
23239      [CYR1]    NaN    NaN                     NaN                  NaN
2737           []    NaN    NaN                     NaN                  NaN
...           ...    ...    ...                     ...                  ...
SSE2          NaN    NaN    NaN  [HSPH1, HSPA4L, HSPA4]                  NaN
122011        NaN    NaN    NaN                     NaN  [HRR25, YCK1, YCK2]
7132          NaN    NaN    NaN                     NaN                   []
1053          NaN    NaN    NaN                     NaN                   []
58494         NaN    NaN    NaN                     NaN                   []

[85 rows x 5 columns]

In [46]:
csnk1a1 = {}
for i in list_1:
    csnk1a1[i] =  (list(humaninyeast[humaninyeast['Human GeneID'] == int(i)]['Yeast Symbol'].values))
    
csnk1a1

{'100506658': [],
 '1131': [],
 '114548': [],
 '23239': ['CYR1'],
 '2737': [],
 '2783': ['STE4'],
 '3183': ['NAB3'],
 '324': [],
 '3308': ['SSE1', 'SSE2'],
 '3320': ['HSP82', 'HSC82'],
 '5144': ['PDE2'],
 '54764': [],
 '5664': [],
 '5728': ['TEP1'],
 '7133': [],
 '7405': [],
 '8878': [],
 '94274': [],
 '993': ['MIH1', 'ARR2', 'YCH1'],
 '5501': ['GLC7'],
 '9958': ['UBP12']}