In [28]:
all_methods= ['Two-hybrid','PCA','Co-fractionation', 'Biochemical Activity',  'Protein-RNA', 'Affinity Capture-Luminescence', 'Far Western', 'Reconstituted Complex', 'Affinity Capture-Western', 'Co-crystal Structure', 'Co-purification', 'Proximity Label-MS', 'Protein-peptide', 'Co-localization', 'Affinity Capture-RNA',  'Affinity Capture-MS', 'FRET']


binary_methods = ["Two-hybrid",'PCA', 'Biochemical Activity', 'Affinity Capture-Luminescence', 'Reconstituted Complex', 'Co-crystal Structure', 'FRET']

In [43]:
def get_data(dir):   #to go through the data folder and fetch the data in a big dictionary
    import json
    import os
    database = {}
    for filename in os.listdir(dir):
        dicti = {}
        f = os.path.join(dir, filename)
        with open (f) as s:
            data = s.read()
            data = data.replace('\'', '\"')
            dicti = json.loads(data)
            name = filename.split('.')[0]
            database[name] = dicti['ij']        
    print(database.keys())
    return database

In [42]:
def get_interactors(dict):   #to go through the dictionary and rearrange the data into a dataframe
    import pandas as pd
    import numpy as np
    interactome_all = {}
    interactome_bi = {}
    index = {'CSNK1A1': '1452', 'CSNK1A1L': '122011', 'CSNK1D': '1453', 'CSNK1E': '1454'}
    all_methods= ['Two-hybrid','PCA','Co-fractionation', 'Biochemical Activity',  'Protein-RNA', 'Affinity Capture-Luminescence', 'Far Western', 'Reconstituted Complex', 'Affinity Capture-Western', 'Co-crystal Structure', 'Co-purification', 'Proximity Label-MS', 'Protein-peptide', 'Co-localization', 'Affinity Capture-RNA',  'Affinity Capture-MS', 'FRET']
    binary_methods = ["Two-hybrid",'PCA', 'Biochemical Activity', 'Affinity Capture-Luminescence', 'Reconstituted Complex', 'Co-crystal Structure', 'FRET']
    for protein in dict.keys():
        interactome_all[protein] = {}
        interactome_bi[protein] = {}
        for bait1, prey1 in dict[protein].items():
            if protein != 'HRR25':
                proteinid = index[protein]
            else:
                proteinid = protein
            if bait1 == proteinid:
                for bait2, prey2 in prey1.items():
                    count1 = 0
                    count2 = 0
                    for bait3,prey3 in prey2.items():
                        count1 = prey3 + count1
                        if bait3 in binary_methods:
                            count2 = prey3 + count2
                    try: 
                        interactome_all[protein][bait2] += count1
                    except KeyError:
                        interactome_all[protein][bait2] = count1

                    try: 
                        interactome_bi[protein][bait2] += count2
                    except KeyError:
                        interactome_bi[protein][bait2] = count2
            else:
                for bait2, prey2 in prey1.items():
                    count3=0
                    count4=0
                    for bait3, prey3 in prey2.items():
                        count3 = prey3 + count3
                        if bait3 in binary_methods:
                            count4 = prey3 + count4
                    try: 
                        interactome_all[protein][bait1] += count3
                    except KeyError:
                        interactome_all[protein][bait1] = count3

                    try: 
                        interactome_bi[protein][bait1] += count4
                    except KeyError:
                        interactome_bi[protein][bait1] = count4
    return interactome_all, interactome_bi

In [64]:
dir='biogrid_data'
database = get_data(dir)
interactome_all, interactome_bi = get_interactors(database)
HRR25_interactome_all, HRR25_interactome_bi = get_interactors(get_data('HRR25_data'))
import pandas as pd
#to put the dataframe onto a csv
interactome_all

dict_keys(['CSNK1A1', 'CSNK1E', 'CSNK1D', 'CSNK1A1L'])
dict_keys(['HRR25'])

{'CSNK1A1': {'10010': 1,
  '100506658': 1,
  '10112': 1,
  '102724631': 1,
  '10410': 1,
  '10450': 1,
  '10484': 1,
  '10551': 2,
  '10892': 4,
  '10987': 1,
  '11033': 3,
  '11052': 1,
  '11091': 1,
  '112399': 1,
  '1131': 1,
  '116143': 1,
  '1213': 1,
  '122011': 1,
  '124245': 1,
  '128866': 1,
  '1314': 1,
  '132724': 1,
  '135398': 1,
  '136263': 2,
  '140735': 2,
  '1432': 1,
  '10165': 1,
  '1025': 1,
  '10273': 1,
  '10483': 1,
  '10527': 1,
  '10598': 1,
  '10743': 1,
  '10856': 1,
  '10939': 1,
  '10971': 1,
  '10985': 1,
  '1104': 1,
  '11152': 1,
  '113828': 1,
  '114548': 2,
  '114991': 3,
  '143425': 1,
  '1453': 2,
  '1454': 2,
  '1499': 4,
  '153090': 1,
  '1653': 1,
  '203068': 1,
  '2077': 1,
  '2171': 1,
  '222584': 3,
  '2289': 1,
  '22931': 1,
  '23028': 1,
  '23095': 1,
  '2314': 1,
  '23164': 1,
  '23191': 1,
  '23239': 1,
  '23303': 1,
  '23367': 1,
  '23677': 1,
  '25776': 1,
  '26057': 1,
  '26130': 4,
  '26227': 1,
  '2673': 1,
  '2737': 1,
  '2783': 1,
  '283237': 2,
  '286077': 6,
  '28966': 4,
  '29925': 1,
  '29927': 1,
  '3007': 1,
  '3066': 1,
  '31': 2,
  '3146': 1,
  '3148': 1,
  '3161': 5,
  '3183': 1,
  '324': 1,
  '3301': 1,
  '3308': 1,
  '3320': 4,
  '3329': 1,
  '337867': 1,
  '3420': 1,
  '3612': 1,
  '3613': 1,
  '3688': 1,
  '3837': 1,
  '3838': 1,
  '3842': 1,
  '3930': 1,
  '3981': 1,
  '4008': 1,
  '4040': 2,
  '4041': 2,
  '4137': 2,
  '4141': 1,
  '4144': 1,
  '4163': 1,
  '4193': 4,
  '4194': 16,
  '4292': 1,
  '4501': 1,
  '4670': 1,
  '4710': 1,
  '4722': 1,
  '476': 1,
  '4792': 2,
  '488': 1,
  '4976': 1,
  '498': 1,
  '49854': 1,
  '506': 1,
  '509': 1,
  '51133': 1,
  '51163': 2,
  '51185': 8,
  '5144': 1,
  '5211': 1,
  '523': 1,
  '53615': 2,
  '54764': 1,
  '5515': 1,
  '55210': 1,
  '55622': 1,
  '55752': 1,
  '55832': 1,
  '55898': 3,
  '5591': 2,
  '5604': 1,
  '5664': 1,
  '5705': 1,
  '571': 2,
  '5728': 5,
  '57530': 1,
  '57683': 3,
  '58': 1,
  '5879': 1,
  '5894': 1,
  '5905': 1,
  '5981': 1,
  '6122': 1,
  '6124': 1,
  '6155': 1,
  '6184': 1,
  '6188': 1,
  '6210': 1,
  '6234': 1,
  '6396': 3,
  '640': 1,
  '644815': 5,
  '6455': 1,
  '64599': 1,
  '653784': 1,
  '6576': 1,
  '6622': 3,
  '6744': 1,
  '6772': 1,
  '7074': 3,
  '71': 1,
  '7112': 1,
  '7133': 2,
  '7157': 6,
  '7277': 1,
  '7283': 1,
  '7405': 4,
  '7518': 1,
  '790': 1,
  '79856': 1,
  '80097': 1,
  '81610': 6,
  '8312': 2,
  '8394': 1,
  '84295': 1,
  '84433': 4,
  '8655': 1,
  '8669': 1,
  '8878': 1,
  '8915': 3,
  '8925': 2,
  '9126': 1,
  '94274': 2,
  '9462': 4,
  '9520': 1,
  '9736': 4,
  '9759': 1,
  '9852': 1,
  '9919': 4,
  '993': 1,
  '999': 2,
  '145508': 1,
  '161176': 1,
  '1803': 1,
  '1869': 1,
  '1894': 1,
  '1956': 1,
  '1994': 1,
  '2010': 1,
  '2099': 1,
  '2100': 1,
  '221150': 1,
  '22927': 1,
  '22981': 1,
  '23235': 1,
  '23476': 1,
  '23586': 1,
  '2512': 1,
  '2547': 1,
  '26135': 1,
  '26471': 1,
  '284680': 3,
  '30011': 1,
  '3169': 1,
  '3191': 1,
  '340069': 3,
  '3630': 1,
  '3667': 1,
  '3676': 1,
  '3845': 1,
  '387893': 1,
  '388': 2,
  '388468': 2,
  '3916': 1,
  '399687': 1,
  '474': 1,
  '4772': 1,
  '4775': 2,
  '4914': 1,
  '5108': 2,
  '51199': 2,
  '51343': 1,
  '51368': 3,
  '51512': 1,
  '51517': 2,
  '5347': 1,
  '54101': 1,
  '54443': 1,
  '54894': 3,
  '55004': 1,
  '5501': 1,
  '55054': 1,
  '55294': 1,
  '55667': 1,
  '55737': 1,
  '5587': 1,
  '56649': 1,
  '5727': 1,
  '57407': 1,
  '5829': 1,
  '58504': 2,
  '6117': 1,
  '6118': 1,
  '6119': 1,
  '613': 1,
  '6597': 1,
  '65992': 1,
  '6657': 1,
  '6928': 1,
  '7186': 1,
  '7412': 1,
  '7465': 1,
  '7514': 1,
  '7531': 1,
  '7532': 1,
  '7706': 1,
  '7764': 1,
  '79007': 1,
  '79927': 1,
  '81631': 1,
  '84445': 1,
  '8517': 1,
  '8519': 1,
  '8715': 1,
  '8772': 1,
  '8829': 1,
  '8844': 1,
  '8940': 1,
  '8945': 2,
  '9110': 1,
  '9343': 1,
  '9493': 1,
  '9662': 1,
  '9859': 1,
  '9928': 1,
  '9958': 1,
  '9968': 1},
 'CSNK1E': {'100506144': 1,
  '100506658': 7,
  '10130': 1,
  '10189': 1,
  '10369': 3,
  '10403': 1,
  '10458': 1,
  '10612': 3,
  '10713': 1,
  '10970': 1,
  '11014': 1,
  '11051': 1,
  '11170': 1,
  '11325': 1,
  '114991': 3,
  '116442': 1,
  '1213': 1,
  '124245': 1,
  '129804': 1,
  '136263': 2,
  '1407': 6,
  '1452': 2,
  '10419': 1,
  '10549': 1,
  '10768': 1,
  '10807': 1,
  '11091': 1,
  '11143': 1,
  '116138': 1,
  '123811': 1,
  '139231': 3,
  '140032': 2,
  '1408': 3,
  '1453': 4,
  '1454': 2,
  '1460': 1,
  '152185': 1,
  '157680': 2,
  '166': 3,
  '1855': 1,
  '1856': 3,
  '1857': 3,
  '197335': 1,
  '199731': 1,
  '2203': 1,
  '222584': 1,
  '22994': 1,
  '23053': 1,
  '23291': 1,
  '23371': 1,
  '23382': 1,
  '23613': 1,
  '25788': 1,
  '26130': 4,
  '286077': 4,
  '28966': 4,
  '28987': 1,
  '2975': 1,
  '31': 1,
  '3161': 1,
  '3280': 1,
  '3312': 2,
  '351': 2,
  '400506': 1,
  '406': 2,
  '4163': 6,
  '50514': 1,
  '5108': 3,
  '5110': 3,
  '51203': 1,
  '5187': 10,
  '53339': 2,
  '53616': 1,
  '5495': 1,
  '5501': 1,
  '55245': 2,
  '5528': 1,
  '5529': 1,
  '55291': 1,
  '55722': 1,
  '5576': 1,
  '5577': 2,
  '55861': 2,
  '55898': 1,
  '56902': 2,
  '56977': 2,
  '57542': 2,
  '57551': 1,
  '57708': 1,
  '5978': 2,
  '60485': 2,
  '6095': 1,
  '6097': 1,
  '6227': 1,
  '6396': 1,
  '642273': 3,
  '6704': 1,
  '6788': 1,
  '6901': 2,
  '6923': 1,
  '7187': 4,
  '728378': 2,
  '729440': 1,
  '7770': 1,
  '79365': 1,
  '79738': 1,
  '79856': 1,
  '80304': 1,
  '81610': 2,
  '8202': 2,
  '8239': 1,
  '8287': 1,
  '8312': 3,
  '83541': 2,
  '8453': 1,
  '8481': 1,
  '85313': 1,
  '8550': 1,
  '8863': 1,
  '8864': 5,
  '90362': 3,
  '904': 1,
  '9110': 2,
  '9138': 1,
  '9219': 1,
  '9462': 2,
  '9575': 2,
  '9659': 2,
  '9851': 1,
  '9855': 1,
  '9919': 1,
  '9975': 1,
  '9978': 1,
  '145508': 1,
  '1500': 1,
  '151246': 1,
  '154743': 2,
  '157753': 1,
  '1994': 1,
  '200150': 1,
  '2017': 1,
  '221154': 3,
  '22832': 1,
  '22861': 1,
  '22881': 1,
  '23092': 1,
  '23175': 1,
  '23192': 1,
  '23286': 1,
  '23299': 1,
  '23586': 1,
  '23770': 1,
  '2512': 1,
  '25793': 1,
  '26043': 1,
  '266971': 1,
  '27091': 2,
  '27092': 1,
  '27338': 1,
  '284996': 1,
  '29100': 1,
  '29896': 3,
  '324': 2,
  '330': 1,
  '3638': 1,
  '3718': 1,
  '3739': 1,
  '3796': 1,
  '4043': 1,
  '4055': 2,
  '4077': 1,
  '474': 2,
  '4799': 1,
  '4914': 1,
  '494119': 1,
  '51073': 1,
  '51141': 1,
  '51204': 1,
  '51233': 3,
  '51368': 1,
  '51490': 1,
  '51512': 1,
  '5170': 1,
  '5305': 1,
  '54101': 1,
  '54509': 1,
  '54819': 1,
  '54851': 2,
  '54888': 1,
  '54894': 5,
  '5499': 1,
  '5514': 1,
  '55177': 1,
  '55217': 1,
  '55319': 1,
  '55646': 1,
  '5566': 1,
  '56001': 2,
  '5601': 1,
  '5720': 1,
  '57506': 1,
  '57584': 1,
  '5789': 1,
  '58504': 2,
  '60468': 1,
  '6102': 3,
  '6259': 1,
  '636': 1,
  '637': 1,
  '63915': 1,
  '63943': 2,
  '6447': 1,
  '6597': 1,
  '6602': 1,
  '6924': 1,
  '705': 1,
  '7074': 1,
  '7132': 2,
  '7133': 1,
  '7157': 1,
  '7158': 1,
  '7289': 1,
  '7322': 1,
  '7434': 1,
  '7514': 1,
  '753': 3,
  '760': 1,
  '79007': 1,
  '79869': 1,
  '79927': 1,
  '80184': 1,
  '8153': 1,
  '81559': 1,
  '830': 1,
  '84254': 1,
  '84285': 1,
  '84295': 1,
  '8449': 1,
  '84553': 1,
  '84985': 1,
  '85395': 2,
  '899': 1,
  '9128': 1,
  '9129': 1,
  '923': 1,
  '92675': 1,
  '9353': 1,
  '93974': 1,
  '93986': 2,
  '94134': 1,
  '94274': 1,
  '9616': 1,
  '9631': 1,
  '9824': 1,
  '9928': 1},
 'CSNK1D': {'10010': 1,
  '10112': 1,
  '10133': 1,
  '10142': 3,
  '10241': 1,
  '10369': 3,
  '10612': 1,
  '10940': 1,
  '114836': 1,
  '135398': 1,
  '136263': 2,
  '1452': 2,
  '1025': 1,
  '10262': 1,
  '10600': 1,
  '10614': 1,
  '11273': 1,
  '11325': 1,
  '114088': 1,
  '114991': 3,
  '1385': 1,
  '139231': 2,
  '1407': 2,
  '1408': 2,
  '143684': 1,
  '1453': 1,
  '157680': 2,
  '1656': 1,
  '166': 2,
  '1855': 1,
  '1857': 2,
  '199870': 1,
  '2037': 1,
  '2273': 3,
  '23076': 1,
  '23192': 1,
  '23560': 1,
  '25879': 1,
  '25940': 1,
  '26130': 3,
  '2697': 2,
  '286077': 3,
  '28966': 2,
  '28987': 1,
  '29890': 1,
  '3091': 1,
  '3161': 2,
  '3202': 1,
  '3312': 3,
  '351': 2,
  '3791': 2,
  '4087': 3,
  '4088': 3,
  '4089': 1,
  '4137': 6,
  '4193': 5,
  '4204': 1,
  '4236': 1,
  '51233': 2,
  '5170': 3,
  '5187': 3,
  '5371': 2,
  '541468': 1,
  '54606': 1,
  '54851': 2,
  '5495': 1,
  '5514': 1,
  '55269': 1,
  '5536': 2,
  '55660': 1,
  '5577': 3,
  '55775': 2,
  '55861': 2,
  '56257': 1,
  '58517': 1,
  '5861': 1,
  '6223': 1,
  '63943': 2,
  '64770': 1,
  '653121': 1,
  '6622': 2,
  '6672': 1,
  '672': 2,
  '6873': 1,
  '7155': 2,
  '7157': 5,
  '7528': 1,
  '79753': 1,
  '79869': 1,
  '81608': 1,
  '81610': 2,
  '84081': 1,
  '84922': 1,
  '85313': 1,
  '8535': 1,
  '8864': 3,
  '8899': 1,
  '90362': 2,
  '904': 1,
  '905': 1,
  '90861': 1,
  '9092': 1,
  '9391': 1,
  '9659': 2,
  '9878': 1,
  '9908': 1,
  '1454': 4,
  '145508': 1,
  '157753': 1,
  '1814': 1,
  '1856': 1,
  '2017': 1,
  '2022': 1,
  '2146': 1,
  '221154': 1,
  '23092': 1,
  '23299': 1,
  '23390': 2,
  '2353': 1,
  '23621': 1,
  '2512': 1,
  '27091': 2,
  '27092': 1,
  '29896': 1,
  '3187': 1,
  '3191': 1,
  '324': 1,
  '328': 1,
  '3614': 1,
  '3831': 1,
  '387129': 1,
  '387893': 1,
  '3921': 1,
  '4043': 1,
  '4163': 2,
  '472': 1,
  '4734': 1,
  '474': 2,
  '4772': 1,
  '4773': 1,
  '50674': 1,
  '5108': 2,
  '51343': 1,
  '51368': 1,
  '5217': 1,
  '54101': 1,
  '54443': 1,
  '55177': 1,
  '55337': 1,
  '5537': 1,
  '55720': 1,
  '56001': 2,
  '57144': 1,
  '57154': 1,
  '57381': 1,
  '57532': 1,
  '57584': 1,
  '57664': 1,
  '5784': 1,
  '5789': 1,
  '58504': 1,
  '60485': 1,
  '6102': 3,
  '64375': 1,
  '6597': 1,
  '705': 2,
  '7514': 1,
  '753': 1,
  '7534': 1,
  '7706': 1,
  '7813': 1,
  '7818': 1,
  '79007': 1,
  '79155': 1,
  '79169': 1,
  '79734': 2,
  '79760': 1,
  '79927': 1,
  '8209': 1,
  '8312': 1,
  '832': 1,
  '84144': 1,
  '84232': 3,
  '84445': 2,
  '84708': 1,
  '84899': 1,
  '84950': 1,
  '8517': 1,
  '85358': 1,
  '8772': 1,
  '8887': 1,
  '9110': 1,
  '9401': 1,
  '94103': 1,
  '94274': 1,
  '9493': 1,
  '9788': 1,
  '9928': 1,
  '999': 1},
 'CSNK1A1L': {'10112': 1,
  '1053': 1,
  '11113': 1,
  '114781': 1,
  '122011': 1,
  '1452': 1,
  '222584': 1,
  '23365': 1,
  '26030': 1,
  '26130': 1,
  '286077': 1,
  '3161': 1,
  '4040': 1,
  '4041': 1,
  '4194': 2,
  '479': 1,
  '54851': 1,
  '55607': 1,
  '571': 1,
  '57683': 1,
  '58494': 1,
  '63943': 1,
  '644815': 1,
  '7132': 1,
  '7133': 2,
  '81610': 1,
  '84687': 1,
  '128866': 1,
  '150274': 1,
  '1894': 1,
  '340069': 3,
  '409': 1,
  '4772': 1,
  '54443': 1,
  '55294': 1,
  '5587': 1,
  '5727': 1,
  '5829': 1,
  '6117': 1,
  '6118': 1,
  '6119': 1,
  '7157': 1,
  '832': 1,
  '9110': 1,
  '92421': 1,
  '9401': 1,
  '9493': 1,
  '9928': 1}}

In [68]:
df =pd.DataFrame.from_dict(interactome_all,orient='columns')
df.index.name = 'Interactors'
df

             CSNK1A1  CSNK1E  CSNK1D  CSNK1A1L
Interactors
10010            1.0     NaN     1.0       NaN
100506658        1.0     7.0     NaN       NaN
10112            1.0     NaN     1.0       1.0
102724631        1.0     NaN     NaN       NaN
10410            1.0     NaN     NaN       NaN
...              ...     ...     ...       ...
58494            NaN     NaN     NaN       1.0
84687            NaN     NaN     NaN       1.0
150274           NaN     NaN     NaN       1.0
409              NaN     NaN     NaN       1.0
92421            NaN     NaN     NaN       1.0

[617 rows x 4 columns]

In [70]:
import numpy as np
interactome_all=pd.DataFrame.from_dict(interactome_all.replace(np.nan, 0),orient='columns')
interactome_bi=pd.DataFrame.from_dict(interactome_bi.replace(np.nan, 0),orient='columns')
HRR25_interactome_all=pd.DataFrame.from_dict(HRR25_interactome_all.replace(np.nan, 0),orient='columns')
HRR25_interactome_bi=pd.DataFrame.from_dict(HRR25_interactome_bi.replace(np.nan, 0),orient='columns')

interactome_all.to_csv('interactome_all.csv')
interactome_bi.to_csv('interactome_bi.csv')
HRR25_interactome_all.to_csv('HRR25_interactome_all.csv')
HRR25_interactome_bi.to_csv('HRR25_interactome_bi.csv')

In [42]:
import os
os.listdir('biogrid_data')

['.DS_Store', 'CSNK1A1.txt', 'CSNK1E.txt', 'CSNK1D.txt', 'CSNK1A1L.txt']

In [15]:
def intersection(a, b):
    return list(set(a) & set(b))

In [17]:
humanorthologues = pd.DataFrame(columns=['GeneID', 'Gene_Symbol', 'Cytoscape_Name', 'CSNK1E', 'CSNK1A1','CSNK1D', 'CSNK1A1L', 'Yeast_Ortholog', 'Yeast_Ortholog_ID', 'HRR25_Interact'])
#interactome_all = pd.read_csv('interactome_all.csv')
#interactome_bi = pd.read_csv('interactome_bi.csv')

#HRR25_interactome_all = pd.read_csv('HRR25_interactome_all.csv')
#HRR25_interactome_bi = pd.read_csv('HRR25_interactome_bi.csv')

Human = pd.read_csv('Human_orthologues.csv')
HRR25 = pd.read_csv('HRR25_orthologues.csv')

Human_interactome = pd.read_csv('interactome_bi.csv')
HRR25_interactome=pd.read_csv('HRR25_interactome_all.csv')

yeastinhuman=pd.read_csv('yeastinhuman.csv')
humaninyeast=pd.read_csv('humaninyeast.csv')

In [19]:
yeastinhuman.head()

,Input Order,Search Term,Yeast GeneID,SGDID,Yeast Symbol,Species 2,Human GeneID,Human Species Gene ID,Human Symbol,Ensmbl ID (link HPA),DIOPT Score,Weighted Score,Rank,Best Score,Best Score Reverse,Prediction Derived From,Alignment & Scores,Feedback,Gene Details
0,1,RIO2,855514,S000005151,RIO2,Human,55781,18999,RIOK2,ENSG00000058729,13,12.73,high,Yes,Yes,"Compara, eggNOG, Hieranoid, Homologene, Inpara...",NaN,Add,G2F details (RIOK2) DRscDB Data: (RIOK2) ...
1,2,ENP1,852549,S000000451,ENP1,Human,705,1157,BYSL,ENSG00000112578,13,12.79,high,Yes,Yes,"Compara, eggNOG, Hieranoid, Homologene, Inpara...",NaN,Add,G2F details (BYSL) DRscDB Data: (BYSL) ...
2,3,DHH1,851394,S000002319,DHH1,Human,1656,2747,DDX6,ENSG00000110367,13,12.81,high,Yes,Yes,"eggNOG, Hieranoid, Homologene, Inparanoid, Iso...",NaN,Add,G2F details (DDX6) DRscDB Data: (DDX6) ...
3,4,PUF3,850647,S000003936,PUF3,Human,23369,14958,PUM2,ENSG00000055917,9,8.77,high,Yes,Yes,"Compara, eggNOG, Isobase, OrthoFinder, OrthoIn...",NaN,Add,G2F details (PUM2) DRscDB Data: (PUM2) ...
4,4,PUF3,850647,S000003936,PUF3,Human,9698,14957,PUM1,ENSG00000134644,8,7.82,moderate,No,Yes,"Compara, eggNOG, OrthoFinder, OrthoInspector, ...",NaN,Add,G2F details (PUM1) DRscDB Data: (PUM1) ...

In [20]:
HRR25_interactome.head()

  Interactors  HRR25
0        ABP1      1
1        ACO1      1
2        ADO1      1
3       AIM41      1
4        ALD6      1

In [21]:
Human.head()

   Unnamed: 0   CSNK1A1 CSNK1E CSNK1D CSNK1A1L
0   100506658        []     []    NaN      NaN
1        1131        []    NaN    NaN      NaN
2      114548        []    NaN    NaN      NaN
3       23239  ['CYR1']    NaN    NaN      NaN
4        2737        []    NaN    NaN      NaN